{% macro normal_list() %}
    <text:list text:style-name="normal_list" text:continue-numbering="false">
        {{ caller() }}
    </text:list>
{% endmacro %}

{% macro legal_list() %}
    <text:list text:style-name="legal_list" text:continue-numbering="false">
        {{ caller() }}
    </text:list>
{% endmacro %}

{% block paragraph() %}
    <text:p text:style-name="text_normal">
        {{ caller() | replace_newlines('<text:line-break/>') }}
    </text:p>
{% endblock %}