{% macro title(text) %}
    <text:h text:style-name="heading_1">{{ text }}</text:h>
{% endmacro %}

{% macro company_info_subtitle(companyName, companyNumber) %}
    <text:h text:style-name="heading_2">{{ companyName }} ({{ companyNumber }}) (“Company”)</text:h>
{% endmacro %}

{% macro date_subtitle(text) %}
    <text:h text:style-name="heading_3">{{ text }}</text:h>
{% endmacro %}

{% macro blank_line() %}
    <text:p text:style-name="text_normal" />
{% endmacro %}

{% macro blank_table_line() %}
    <text:p text:style-name="table_contents" />
{% endmacro %}

{% macro notes(notesList) %}
    {% if notesList | length > 0 %}
        <text:p text:style-name="text_normal">It is noted that:</text:p>

        <text:list text:style-name="normal_list" text:continue-numbering="false">
            {% for note in notesList %}
                <text:list-item>
                    <text:p text:style-name="text_normal">
                        {{ note['text'] }}
                    </text:p>
                </text:list-item>
            {% endfor %}
        </text:list>
    {% endif %}
{% endmacro %}

{% macro signature_line() %}
    <text:p text:style-name="text_normal" />
    <text:p text:style-name="signature_line" />
{% endmacro %}

{% macro table_signature_line() %}
    <text:p text:style-name="table_signature_line" />
{% endmacro %}

{% macro link(text, link) -%}
    <text:a
        text:style-name="internet_link"
        xlink:href="{{ link }}"
        xlink:type="simple">

        {{- text -}}
    </text:a>
{%- endmacro %}



{% macro bold_join_and(items, name_attribute, prepend=null) %}
    {% if prepend != null %}
        {% if items | length == 1 %}
            <text:span text:style-name="bold">{{ prepend }}</text:span> and <text:span text:style-name="bold">{{ items[0] | get_value(name_attribute) }}</text:span>
        {%- else %}
            <text:span text:style-name="bold">{{ prepend }}</text:span>,

            {% for item in items %}
                {% if loop.last %}
                    and <text:span text:style-name="bold">{{ item | get_value(name_attribute) }}</text:span>
                {%- else %}
                    <text:span text:style-name="bold">{{ item | get_value(name_attribute) }}</text:span>,
                {% endif -%}
            {%- endfor -%}
        {%- endif -%}
    {%- else -%}
        {% if items | length == 1 %}
            <text:span text:style-name="bold">{{ items[0] | get_value(name_attribute) }}</text:span>
        {%- elif items | length == 2 %}
            <text:span text:style-name="bold">{{ items[0] | get_value(name_attribute) }}</text:span> and <text:span text:style-name="bold">{{ items[1] | get_value(name_attribute) }}</text:span>
        {%- else %}
            {% for item in items %}
                {% if loop.last %}
                    and <text:span text:style-name="bold">{{ item | get_value(name_attribute) }}</text:span>
                {%- else %}
                    <text:span text:style-name="bold">{{ item | get_value(name_attribute) }}</text:span>,
                {% endif -%}
            {%- endfor -%}
        {%- endif -%}
    {%- endif -%}
{%- endmacro %}

{% macro witness_block() %}
    {{ table_signature_line() }}
    <text:p text:style-name="text_normal">Signature of witness</text:p>

    {{ table_signature_line() }}
    <text:p text:style-name="text_normal">Full name of witness</text:p>

    {{ table_signature_line() }}
    <text:p text:style-name="text_normal">Occupation of witness</text:p>

    {{ table_signature_line() }}
    <text:p text:style-name="text_normal">Address of witness</text:p>
{% endmacro %}

{% macro signature_block(signatory, dated) %}
    {{ table_signature_line() }}
    <text:p text:style-name="text_normal">
        Signature of {{ signatory.name }}
    </text:p>

    {% if dated %}
        {{ table_signature_line() }}
        <text:p text:style-name="text_normal">Date Signed</text:p>
    {% endif %}
{% endmacro %}

{% macro signature_block_heading(signatory, witnessed=false) %}
    <text:p text:style-name="text_normal">
        {% if signatory.signingMethod.signingMethod == 'themself only' %}
            {#
             #  Signing on behalf of others only
             #}
            {% if signatory.signingMethod.capacity.capacityType == 'No Capacity' %}
                {#
                 #  Signing for themself only with no capacity
                 #}
                Signed by <text:span text:style-name="bold">{{ signatory.name }}</text:span>:
            {% else %}
                {#
                 #  Signing for themself only wiuth a capacity
                 #}
                Signed by <text:span text:style-name="bold">{{ signatory.name }}</text:span> as
                
                <text:span text:style-name="bold">
                    {% if signatory.signingMethod.capacity.capacityType == '[Custom]' %}
                        {{ signatory.signingMethod.capacity.customCapacity }}
                    {% else %}
                        {{ signatory.signingMethod.capacity.capacityType }}
                    {% endif %}
                </text:span>

                of

                <text:span text:style-name="bold">{{ signatory.signingMethod.capacity.of }}</text:span>:
            {% endif %}
        {% else %}
            {#
             #  Signing on behalf of themself and others or other only
             #}

            Signed by <text:span text:style-name="bold">{{ signatory.name }}</text:span> on behalf of
            
            {%- if signatory.signingMethod.signingMethod == 'themself and others' -%}
                {{ bold_join_and(signatory.signingMethod.parties, 'name', signatory.name) }}
            {%- else -%}
                {{ bold_join_and(signatory.signingMethod.parties, 'name') }}
            {%- endif -%}
            
            {%- if signatory.signingMethod.capacity.capacityType != 'No Capacity' -%}
                , as <text:span text:style-name="bold">{{ signatory.signingMethod.capacity.capacityType }}</text:span>
            {%- endif -%}

            {%- if witnessed %}
                in the presence of
            {%- endif -%}

            :
        {% endif %}
    </text:p>
{% endmacro %}

{% macro signature_table(data, name_attribute=null) %}
    {% set signaturesIndividuallyDated = (data.signingDate.signingOnSameDay == 'no') %}
    {% set requiresWitnessing = (data.requiresWitnessing == 'yes') %}

    <text:h text:style-name="heading_3">
        {% if requiresWitnessing %}
            EXECUTED AND DELIVERED AS A DEED
        {% else %}
            SIGNATURES
        {% endif %}
    </text:h>

    {% if not signaturesIndividuallyDated %}
        <text:h text:style-name="heading_3">Signing Date: {{ data.signingDate.date }}</text:h>
    {% endif %}


    <table:table table:name="Signature Table Container" table:style-name="signature_table_container_table">
        <table:table-column table:number-columns-repeated="1" table:style-name="signature_table_container_table_column"/>

        {% if requiresWitnessing %}
            {#
            # Signature table with witnessing
            #}
            {% for signatory in data.signatories %}
                <table:table-row table:style-name="signature_table_container_table_row">
                    <table:table-cell office:value-type="string" table:style-name="signature_table_container_table_cell">
                        <table:table table:name="Signature Table" table:style-name="signature_table">
                            <table:table-column table:number-columns-repeated="2" table:style-name="signature_table_column"/>
                            
                            {# Display the capacity in it's own row, so the signature lines line up #}
                            <table:table-row table:style-name="signature_table_row">
                                <table:table-cell office:value-type="string" table:style-name="signature_table_cell">
                                    {{ signature_block_heading(signatory, witnessed=true) }}
                                </table:table-cell>
                            </table:table-row>

                            {# Print the signature and the witness block beside it #}
                            <table:table-row table:style-name="signature_table_row">
                                <table:table-cell office:value-type="string" table:style-name="signature_table_cell">
                                    {{ witness_block() }}
                                </table:table-cell>
                                <table:table-cell office:value-type="string" table:style-name="signature_table_cell">
                                    {{ signature_block(signatory, signaturesIndividuallyDated) }}
                                </table:table-cell>
                            </table:table-row>


                        </table:table>
                    </table:table-cell>
                </table:table-row>
            {% endfor %}
        {% else %}
            {#
            # Signature table without witnessing
            #}
            {% for batchedSignatories in data.signatories | batch(2) %}
                {% set signatoryOne = batchedSignatories[0] %}
                {% set signatoryTwo = batchedSignatories[1] %}
                
                <table:table-row table:style-name="signature_table_container_table_row">
                    <table:table-cell office:value-type="string" table:style-name="signature_table_container_table_cell">
                        <table:table table:name="Signature Table" table:style-name="signature_table">
                            <table:table-column table:number-columns-repeated="2" table:style-name="signature_table_column"/>
                
                            {# Display the capacities in their own row, so the signature lines line up #}
                            <table:table-row table:style-name="signature_table_row">
                                <table:table-cell office:value-type="string" table:style-name="signature_table_cell">
                                    {{ signature_block_heading(signatoryOne) }}
                                </table:table-cell>
                                
                                {% if signatoryTwo %}
                                    <table:table-cell office:value-type="string" table:style-name="signature_table_cell">
                                        {{ signature_block_heading(signatoryTwo) }}
                                    </table:table-cell>
                                {% endif %}
                            </table:table-row>

                            {# Display the signatures #}
                            <table:table-row table:style-name="signature_table_row">
                                <table:table-cell office:value-type="string" table:style-name="signature_table_cell">
                                    {{ signature_block(signatoryOne, signaturesIndividuallyDated) }}
                                </table:table-cell>

                                {% if signatoryTwo %}
                                    <table:table-cell office:value-type="string" table:style-name="signature_table_cell">
                                        {{ signature_block(signatoryTwo, signaturesIndividuallyDated) }}
                                    </table:table-cell>
                                {% endif %}
                            </table:table-row>

                            
                        </table:table>
                    </table:table-cell>
                </table:table-row>
            {% endfor %}
        {% endif %}
    </table:table>
{% endmacro %}
