{% extends 'layouts/default.njk' %}

{% import 'partials/components.njk' as components %}
{% import 'partials/helpers.njk' as helpers %}
{% import 'partials/blocks.njk' as blocks %}


{% block body %}
    {{ components.logo(metadata) }}
    {% if resolutionOptions.resolutionType == 'Resolution at Board Meeting' %}
        {% set documentDate = resolutionOptions.dateOfMinute %}
    {% else %}
        {% set documentDate = resolutionOptions.dateOfResolution %}
    {% endif %}

    {{ components.title('Board Resolution') }}
    {{ components.company_info_subtitle(company.companyName, company.companyNumber) }}
    {{ components.date_subtitle(documentDate) }}

    {{ components.blank_line() }}

    {% if metadata.useLogo %}
        {{ components.blank_line() }}
    {% endif %}

    <text:p text:style-name="text_normal">
        {% if resolutionOptions.resolutionType == 'Resolution at Board Meeting' %}
            This minute records that on {{ resolutionOptions.dateOfBoardMeeting }} the directors of the Company held a board meeting, during which the following {{ helpers.pluralise(resolutions, 'resolution was passed', 'resolutions were passed') }}:
        {% else %}
            The board of the Company hereby makes the following written {{ helpers.pluralise(resolutions, 'resolution', 'resolutions') }}:
        {% endif %}
    </text:p>

    {% call blocks.normal_list() %}
        {% for resolution in resolutions %}
            {% if resolution.individualResolutionType == 'Custom' %}
                <text:list-item>
                    <text:p text:style-name="text_normal">{{ resolution.resolutionOptions.text }}</text:p>
                </text:list-item>
            {% elif resolution.individualResolutionType == 'Change Company Name' %}
                <text:list-item>
                    <text:p text:style-name="text_normal">That an application to change the Company’s name to {{ resolution.resolutionOptions.newCompanyName }} be submitted to the Registrar of Companies on {{ resolution.resolutionOptions.effectiveDate }}, and that any director of the Company be approved to submit the application.</text:p>
                </text:list-item>
            {% elif resolution.individualResolutionType == 'Records in Good Companies' %}
                <text:list-item>
                    <text:p text:style-name="text_normal">That the Company keep the records required under section 189(1) of the Companies Act 1993 electronically, using the service provided by CataLex known as Good Companies.</text:p>
                </text:list-item>
            {% elif resolution.individualResolutionType == 'Agent for Company Changes' %}
                <text:list-item>
                    <text:p text:style-name="text_normal">That {{ resolution.resolutionOptions.nameOfAuthorisedAgent }} be appointed or confirmed as the sole agent responsible for maintaining the share register under section 87(3) of the Companies Act 1993.</text:p>
                </text:list-item>

                <text:list-item>
                    <text:p text:style-name="text_normal">That {{ resolution.resolutionOptions.nameOfAuthorisedAgent }} be appointed or confirmed as the board’s sole agent for submitting necessary changes or documents to the companies register and the Registrar, and that, unless {{ resolution.resolutionOptions.nameOfAuthorisedAgent }} is unwilling or unable to make any required submission in a timely manner, no other person be authorised to submit such changes or documents on behalf of the board.</text:p>
                </text:list-item>
            {% elif resolution.individualResolutionType == 'Change Registered Office' %}
                <text:list-item>
                    <text:p text:style-name="text_normal">That the Company change its registered office to {{ resolution.resolutionOptions.newAddress }} with effect from {{ resolution.resolutionOptions.effectiveDate }}, and that notice of the change be given to the Registrar of Companies in the prescribed form no later than {{ resolution.resolutionOptions.dateOfNotice }}.</text:p>
                </text:list-item>
            {% elif resolution.individualResolutionType == 'Change Address for Service' %}
                <text:list-item>
                    <text:p text:style-name="text_normal">That the Company change its address for service to {{ resolution.resolutionOptions.newAddress }} with effect from {{ resolution.resolutionOptions.effectiveDate }}, and that notice of the change be given to the Registrar of Companies in the prescribed form no later than {{ resolution.resolutionOptions.dateOfNotice }}.</text:p>
                </text:list-item>
            {% elif resolution.individualResolutionType == 'Change Address of Company Records' %}
                <text:list-item>
                    <text:p text:style-name="text_normal">That the Company not keep the records referred to in paragraphs (a) to  of subsection 189(1) of the Companies Act 1993 at its registered office and instead keep those records at {{ resolution.resolutionOptions.newAddress }} with effect from {{ resolution.resolutionOptions.effectiveDate }} Notice of the new place of the Company's records must be given to the Registrar of Companies by {{ resolution.resolutionOptions.dateOfNotice }}.</text:p>
                </text:list-item>
            {% elif resolution.individualResolutionType == 'Approve Share Transfer' %}
                <text:list-item>

                    <text:p text:style-name="text_normal">That the share transfer described in the share transfer form, dated {{ resolution.dateOfTransferForm}}, be approved, and that the share transfer set out in the form be immediately entered in the Company's share register.</text:p>

                </text:list-item>
            {% elif resolution.individualResolutionType == 'Reject Share Transfer' %}
                <text:list-item>

                    <text:p text:style-name="text_normal">That the share transfer described in the share transfer form, dated {{ resolution.dateOfTransferForm}}, be approved, and that the share transfer set out in the form be immediately entered in the Company's share register.</text:p>

                    <text:p text:style-name="text_normal">That the share transfers described in the share transfer form(s), dated {{ resolution.dateOfTransferForm }}, received on {{ resolution.dateOfReceipt }}, and concerning the shares held by {{ resolution.shareholders|join_and('name') }}, be rejected.  The board confirms, for the purposes of section 84(4) of the Companies Act 1993, as follows:</text:p>
                    <text:list>

                    <text:list-item>
                    <text:p text:style-name="text_normal">The share transfers are being rejected because:</text:p>
                    </text:list-item>

                    {% if resolution.primaryReason.reason == 'Non-Payment' %}
                        <text:list-item>
                        <text:p text:style-name="text_normal">The total amount owing to the Company is {{resolution.primaryReason.amount|currency}}; and</text:p>
                        </text:list-item>
                    {% endif %}

                      {% for reason in resolution.otherReasons %}
                            <text:list-item>
                                <text:p text:style-name="text_normal">{{ reason.text }}</text:p>
                            </text:list-item>
                        {% endfor %}

                        <text:list-item>
                        <text:p text:style-name="text_normal">The Companies Act 1993 or the Company's constitution (if it has one) expressly permits the board to refuse or delay registration of the share transfer(s) for the reasons set out above; and</text:p>
                        </text:list-item>
                        <text:list-item>
                        <text:p text:style-name="text_normal">Notice of this resolution will be sent to the transferor and transferee within five working days of this resolution being passed.</text:p>
                        </text:list-item>

                    </text:list>

                </text:list-item>



            {% elif resolution.individualResolutionType == 'Enter Into Major Transaction' %}
                <text:list-item>
                    <text:p text:style-name="text_normal">That the transaction(s) contemplated by the attached document(s):</text:p>

                    <text:list>
                        <text:list-item>
                            <text:p text:style-name="text_normal">are, or may constitute, a major transaction for the purposes of section 129 of the Companies Act 1993; and</text:p>
                        </text:list-item>

                        <text:list-item>
                            <text:p text:style-name="text_normal">be entered into by the Company subject to the transaction(s) being approved by, or contingent upon approval by, special resolution of the Company's shareholders. Subject to receiving that special resolution, the board resolves that:</text:p>

                            <text:list>
                                <text:list-item>
                                    <text:p text:style-name="text_normal">the Company enter into, execute, deliver, and perform its obligations under the transaction(s), and all deeds, instruments, certificates, powers of attorney, agreements, undertakings, or other documentation, and any requests, notices, or communications, contemplated by, or considered necessary, desirable, advisable, expedient, or incidental under or in connection with, the transaction(s); and</text:p>
                                </text:list-item>

                                <text:list-item>
                                    <text:p text:style-name="text_normal">the transaction(s) are in the best interests of the Company.</text:p>
                                </text:list-item>
                            </text:list>
                        </text:list-item>
                    </text:list>
                </text:list-item>

            {% elif resolution.individualResolutionType == "No Annual Shareholders' Meeting" %}
                <text:list-item>
                    <text:p text:style-name="text_normal">That the board of the Company not call, and the Company not hold, an annual meeting of shareholders because, for the purposes of section 120(5) of the Companies Act 1993, such a meeting is not necessary. The board confirms that:</text:p>

                    <text:list>
                        <text:list-item>
                            <text:p text:style-name="text_normal">there is nothing required to be done at an annual meeting of shareholders of the Company;</text:p>
                        </text:list-item>

                        <text:list-item>
                            <text:p text:style-name="text_normal">after having regard to whether there is any particular issue that the shareholders should be given an opportunity to discuss, comment on, or ask questions about, it is in the best interests of the Company to rely on section 120(5) of the Companies Act 1993; and</text:p>
                        </text:list-item>

                        <text:list-item>
                            <text:p text:style-name="text_normal">the constitution of the Company (if it has one) does not require the meeting to be called or held.</text:p>
                        </text:list-item>
                    </text:list>
                </text:list-item>

            {% elif resolution.individualResolutionType == "Issue Bonus Shares" %}
                <text:list-item>
                    <text:p text:style-name="text_normal">That:</text:p>

                    <text:list>
                        {% for issue in resolution.issues %}
                            <text:list-item>
                                <text:p text:style-name="text_normal">{{ issue.number }} new {{ issue.shareClass }} shares to be issued to {{ issue.shareholder.name }} on {{ issue.date }};</text:p>
                            </text:list-item>
                        {% endfor %}

                        <text:list-item>
                            <text:p text:style-name="text_normal">the new shares are fully paid up from the reserves of the Company and are issued to all shareholders of the same class in proportion to the number of shares held by each shareholder.</text:p>
                        </text:list-item>
                    </text:list>
                </text:list-item>

            {% elif resolution.individualResolutionType == "Credit Shares as Fully or Partly Paid" %}
                <text:list-item>
                    <text:p text:style-name="text_normal">That the {{ resolution.number }} new {{ resolution.shareClass.name }} shares issued to {{ resolution.shareholder.name }} on {{ resolution.date }}
                        for consideration other than cash be credited as {{ resolution.creditSharesAs }} paid up to the value of {{ resolution.totalAmountCredited }}. The reasonable present cash value
                        of the consideration credited is {{ resolution.valueOfConsiderationCredited }}. In the board’s opinion, the present cash value of the consideration is fair and reasonable to the
                        Company and to all existing shareholders, and not less than the amount to be credited in respect of the shares.</text:p>
                </text:list-item>

            {% elif resolution.individualResolutionType == "Authorise Dividends" %}
                <text:list-item>
                    <text:p text:style-name="text_normal">That:</text:p>

                    <text:list>
                        <text:list-item>
                            <text:p text:style-name="text_normal">the following dividends to shareholders be authorised:</text:p>

                            <text:list>
                                {% for dividend in resolution.dividends %}
                                    <text:list-item>
                                        <text:p text:style-name="text_normal">A dividend of {{ dividend.description }} will be made to {{ dividend.shareholders|join_and('name') }} on {{ dividend.date }}.</text:p>
                                    </text:list-item>
                                {% endfor %}
                            </text:list>
                        </text:list-item>

                        <text:list-item>
                            <text:p text:style-name="text_normal">the board is satisfied on reasonable grounds that the Company will, immediately after making the dividend(s) referred to above, satisfy the solvency test as defined in section 4 of the Companies Act 1993 and amended by section 52(4) of that Act; and</text:p>
                        </text:list-item>

                        <text:list-item>
                            <text:p text:style-name="text_normal">the dividends:</text:p>

                            <text:list>
                                    <text:list-item>
                                        <text:p text:style-name="text_normal">are in respect of all the shares in the relevant share class and are of the same value per share for all shares in that class; or</text:p>

                                    </text:list-item>
                                      <text:list-item>
                                         <text:p text:style-name="text_normal">in respect of a share of that class are in proportion to the amount paid to the Company in satisfaction of a liability of the shareholder under the constitution of the Company or under the terms of issue of the share, or are required, for a portfolio tax rate entity, as a result of section HL 7 of the Income Tax Act 2004.</text:p>
                                    </text:list-item>
                            </text:list>

                        </text:list-item>
                    </text:list>
                </text:list-item>



            {% elif resolution.individualResolutionType == "Authorise Shareholder Discounts" %}
                <text:list-item>
                    <text:p text:style-name="text_normal">That:</text:p>

                    <text:list>
                        <text:list-item>
                            <text:p text:style-name="text_normal">the following discounts in respect of goods sold or services provided by the Company be offered to shareholders:</text:p>

                            <text:list>
                                {% for discount in resolution.discounts %}
                                    <text:list-item>
                                        <text:p text:style-name="text_normal">A discount of {{ discount.description }} on {{ discount.goodsAndServices }} be offered to {{ discount.shareholder.name }} on {{ discount.date }}.</text:p>
                                    </text:list-item>
                                {% endfor %}
                            </text:list>
                        </text:list-item>

                        <text:list-item>
                            <text:p text:style-name="text_normal">the proposed shareholder discounts are fair and reasonable to the Company and to all shareholders; and</text:p>
                        </text:list-item>

                        <text:list-item>
                            <text:p text:style-name="text_normal">the proposed shareholder discounts are to be available to all shareholders of the same class on the same terms.</text:p>
                        </text:list-item>
                    </text:list>
                </text:list-item>




            {% elif resolution.individualResolutionType == "Issue New Shares (Except Bonus Shares)" %}
                <text:list-item>
                    <text:p text:style-name="text_normal">That new shares in the Company be issued as follows:</text:p>

                    <text:list>

                    {% for parcelToIssue in resolution.parcelsToIssue %}
                        <text:list-item>
                            <text:p text:style-name="text_normal">{{ parcelToIssue.amount }} new {{ parcelToIssue.shareClass }} shares will be issued to {{ parcelToIssue.newShareholders|join_and('name') }} on {{ parcelToIssue.date }}.</text:p>
                        </text:list-item>
                    {% endfor %}

                    {% if resolution.issueMethod.type == "Cash" %}
                        <text:list-item>
                            <text:p text:style-name="text_normal">The shares will be issued for {{ resolution.issueMethod.issuePricePerShare | currency }} per share.</text:p>
                        </text:list-item>
                    {% else %}
                        <text:list-item>
                            <text:p text:style-name="text_normal">The shares will be issued for the following consideration: {{ resolution.issueMethod.consideration }}</text:p>
                        </text:list-item>
                        <text:list-item>
                            <text:p text:style-name="text_normal">If the consideration is other than cash, the reasonable present cash value of the consideration is {{ resolution.issueMethod.cashValue | currency }}.  In the board’s opinion, the present cash value of the consideration to be provided for the issue of the shares is not less than the amount to be credited for the issue of the shares.</text:p>
                        </text:list-item>
                    {% endif %}
                    <text:list-item>
                        <text:p text:style-name="text_normal">The terms on which the shares will be issued are set out in the Company’s constitution and/or the attached document(s), as applicable.</text:p>
                    </text:list-item>
                    <text:list-item>
                        <text:p text:style-name="text_normal">In the board’s opinion, the consideration for and terms of the issue are fair and reasonable to the Company and to all existing shareholders.</text:p>
                    </text:list-item>

                </text:list>

                </text:list-item>
            {% endif %}



        {% endfor %}
    {% endcall %}

    <text:p text:style-name="text_normal">
        {{ helpers.pluralise(resolutions, 'The above resolution was', 'Each of the above resolutions was') }} approved as a
        {% if resolutionOptions.resolutionType == 'Resolution at Board Meeting' %}
            resolution of the Company’s board, by either being agreed to by all directors present or having a majority of the votes cast on it being in favour.
        {% else %}
            written resolution of all the directors of the Company who, as at the date of this document, were entitled to receive notice of a meeting of the Company’s board. {{ helpers.pluralise(resolutions, 'The', 'Each') }} resolution is as valid and effective as if it had been passed at a meeting of the board duly convened and held.
        {% endif %}
    </text:p>

    {{ components.notes(notes) }}

    {% if resolutionOptions.resolutionType == 'Resolution at Board Meeting' %}
        <text:p text:style-name="text_normal">This minute is certified as true and correct by {{ resolutionOptions.chairperson.name }}, who chaired the board meeting.</text:p>
        <text:p text:style-name="text_normal">Signed by {{ resolutionOptions.chairperson.name }} as chairperson:</text:p>

        {{ components.signature_line() }}
    {% else %}
        <text:p text:style-name="text_normal">A copy of this written resolution is to be entered in the minute book of board proceedings.</text:p>
        <text:p text:style-name="text_normal">Signed by all the directors of the Company:</text:p>

        {{ components.basic_signature_table(resolutionOptions.directors, false, false) }}
    {% endif %}

{% endblock %}
