{% extends 'layouts/default.njk' %}

{% import 'partials/components.njk' as components %}
{% import 'partials/blocks.njk' as blocks %}

{% block body %}

    {{ components.title('Director’s Certificate') }}
    {{ components.company_info_subtitle(company.companyName, company.companyNumber) }}
    {{ components.date_subtitle(certificateOptions.dateOfCertificate) }}

    {{ components.blank_line() }}

    <text:p text:style-name="text_normal">
        I/we, the director/directors of the Company named below, hereby certify as follows:
    </text:p>

    {% call blocks.normal_list() %}
        {% for certification in certifications %} 
            <text:list-item>
                <text:p text:style-name="text_normal">{{ certification.text }}</text:p>
            </text:list-item>
        {% endfor %}
    {% endcall %}

    {{ components.notes(notes) }}
    
    {{ components.basic_signature_table(directors, (resolutionOptions.requiresWitnessing == 'yes'), false) }}

{% endblock %}
