{% extends 'layouts/default.njk' %}

{% import 'partials/components.njk' as components %}
{% import 'partials/blocks.njk' as blocks %}

{% block body %}
    {{ components.logo(metadata) }}
    {{ components.title('Notice of ' + noticeOptions.meetingType) }}
    {{ components.company_info_subtitle(company.companyName, company.companyNumber) }}
    {{ components.date_subtitle(noticeOptions.dateOfNotice) }}

    {{ components.blank_line() }}

    {% if metadata.useLogo %}
        {{ components.blank_line() }}
    {% endif %}

    <text:p text:style-name="text_normal">
        {% if noticeOptions.meetingType == 'Board Meeting' %}
            To: {{  noticeOptions.boardMeetingOptions.recipients | join_and('name') }}
        {% else %}
            To: {{  noticeOptions.meetingOptions.shareholders | join_and('name') }}
        {% endif %}
    </text:p>

    <text:p text:style-name="text_normal">
        This is a notice that on {{ noticeOptions.meetingDateTime | timestamp_to_date }} at {{ noticeOptions.meetingDateTime | timestamp_to_time }},

        {% if noticeOptions.meetingType == 'Board Meeting' %}
            a meeting of the board of directors
        {% elif noticeOptions.meetingType == 'Annual Meeting of Shareholders' %}
            the annual general meeting of the shareholders
        {% else %}
            a special meeting of the shareholders
        {% endif %}

        of the Company will be held at {{ noticeOptions.locationOfMeeting }}.
    </text:p>


    {% if noticeOptions.meetingType == 'Board Meeting' %}
        <text:p text:style-name="text_normal">The following matters will be discussed at the board meeting:</text:p>

        {% call blocks.normal_list() %}
            {% for matter in noticeOptions.boardMeetingOptions.matters %}
                <text:list-item>
                    <text:p text:style-name="text_normal">{{ matter.text }}</text:p>
                </text:list-item>
            {% endfor %}
        {% endcall %}
    {% else %}
        <text:p text:style-name="text_normal">The following items of business will be transacted at the meeting:</text:p>

        {% call blocks.normal_list() %}
            {% for item in noticeOptions.meetingOptions.itemsOfBusiness %}
                <text:list-item>
                    <text:p text:style-name="text_normal">{{ item.text }}</text:p>
                </text:list-item>
            {% endfor %}
        {% endcall %}

        {% if  noticeOptions.meetingOptions.specialResolutions | length >= 1 %}
            <text:p text:style-name="text_normal">The following special resolutions will be submitted to the meeting: </text:p>

            {% call blocks.normal_list() %}
                {% for resolution in noticeOptions.meetingOptions.specialResolutions %}
                    <text:list-item>
                        <text:p text:style-name="text_normal">{{ resolution.text }}</text:p>
                    </text:list-item>
                {% endfor %}
            {% endcall %}
        {% endif %}

        {% if (noticeOptions.meetingOptions.specialResolutions | exists('alterConstitutionOrMajorTransaction', 'Yes')) %}
            <text:p text:style-name="text_normal">Shareholders are reminded of the statutory right to require the Company to purchase their shares provided by section 110 of the Companies Act 1993.</text:p>
        {% endif %}
    {% endif %}

    {{ components.notes(notes) }}

    {{ components.basic_signature_table([{"name": noticeOptions.personGivingNotice}], (noticeOptions.requiresWitnessing == 'Yes'), false) }}

{% endblock %}
